.container4 {
  background-color: black;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.heading {
  margin-top: -100px;
}

.b4 {
  margin-top: 300px;
  margin-left: -470px;
}

.image_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 150px;
}

.t1,
.t2,
.t3 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.subtext1 {
  margin-left: 10px;
}

.subtext2 {
  margin-left: -30px;
}

.subtext3 {
  margin-left: -15px;
}

.subtext1 p b {
  margin-left: -100px;
}

.subtext2 p b {
  margin-left: -160px;
}

.subtext3 p b {
  margin-left: -40px;
}

.subtext3 p {
  margin-left: 0px;
}

.b4 {
  margin-top: 200px;
  margin-left: -470px;
}

.image {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
  margin-bottom: 0px;
}

.img2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.img1 {
  margin-left: -60px;
}

@media screen and (max-width: 768px) {
  .container4 {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .text {
    flex-direction: column; /* Change to column layout for smaller screens */
    margin-left: -25px; /* Adjust margin for smaller screens */
    margin-right: -20px; /* Adjust margin for smaller screens */
  }

  .image_text {
    width: 100%; /* Full width for smaller screens */
    margin-top: 20px; /* Adjust margin for smaller screens */
  }
  .heading{
    margin-top: 300px;
  }

  .b4 {
    margin-top: 200px; /* Adjust margin for smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
    margin-left: -200px; /* Center align for smaller screens */
    margin-right: 50px; /* Center align for smaller screens */
  }

  .image {
    flex-direction: row; /* Change to column layout for smaller screens */
    justify-self: center;
    margin-top: 20px; /* Adjust margin for smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
    
  }

  .img1{
    margin-left: -20px;
    padding: 15px;
  }
  .img2 {
    margin-left: 0px; /* Reset margin left for smaller screens */
    margin-right: -20px;
  }
  .subtext1 {
    margin-left: -145px;
  }
  .subtext2 p b{
    margin-left: -70px;
  }
  .subtext2 p{
    margin-left: 25px;
  }
  .subtext3 p b{
    margin-left: -4px;
  }
  .subtext3 p{
    margin-left: 20px;
  }
  .img{
      margin-left: -20px;
  }
}
