.heading {
    margin-top: 5%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.h1{
    text-shadow: 2px 2px 2px #060606;
}

.div2 {
    display: flex; 
    align-items: center; 
    margin-top: 2%; 
    justify-content: center; 
    margin-bottom: 5%;
}

.div3 {
    border: 2px solid #cfa190; 
    border-radius: 20px; 
    background-color: #cfa190;
    padding: 4vw; 
    width: 40%; 
    color: #060606;
    text-align: start;
    height: 30%;
}

.div3 p {
    margin: 0; 
    text-align: start;
}

img {
    max-width: 100%; 
    margin-right: 4vw; 
    max-height: auto; 
}

@media (max-width: 768px) {
    .heading {
        margin-top: 7%; 
    }

    .div3 p {
        width: 110%; 
    }
}
